*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "open sans";
    background-color: #1C293A;
}
.body1{
    font-family: "open sans";
    background-color: #fff;
}
header{
    color: #fff;
}
header.textos-header{
    text-align: left;
    margin: 0px 0px 20px 10px;
}
.contenedor1{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
    color: #fff;
}
button{
    background-color: #00968A;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    display: block;
    border-radius: 12px;
    margin: 10px 10px 10px 10px;
    float: left;
}
.imgp{
    width: 370px;
    height: 370px;
    position: absolute;
    right: 110px;
    top: 50px;
}
main{
    background-color: #fff;
    width: 100%;
    padding: 2%;
    margin-top: -1%;
}
nav {
    text-align: left;
    padding: 30px 40px 0 0;
    display: flex;
    margin: 0px 0px 20px 10px;
}
.nav2{
    padding: 0 0 0px 210px;
    display: flex;
}
.nav3{
    padding: 0 280px 0px 0px;
    display: flex;
}
nav>a {
    color: #fff;
    text-align: center;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav>a:hover {
    text-decoration: underline;
}
.wave{
    position: absolute;
    width: 100%;
}
.contenedor{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
    
}
.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.contenido-login{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.img img{
    width: 500px;
}
form{
    width: 360px;
}
.contenido-login img{
    height: 100px;
}
.contenido-login h2{/*titulo*/
    margin: 15px 0;
    color: #333;
    text-transform: uppercase; /*mayusculas*/
    font-size: 2.9rem;
}
.contenido-login .input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d4bebe;
}
.contenido-login .input-div.dni{
    margin-top: 0;
}
.i{
    color: #d4bebe;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i i{
    transition: .3s;
}
.input-div >div{
    position: relative;
    height: 45px;
}
.input-div > div > h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999999;
    font-size: 18px;
    transition: .3s;
}
.input-div.focus > div >h5{
    top: -5px;
    font-size: 15px;
}
.input-div:before, .input-div:after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: blueviolet;
    transition: .4s;
}
.input-div::before{
    right: 50%;
}
.input-div:after{
    left: 50%;
}
.input-div.focus:before, .input-div.focus:after{
    width: 50%;
}
.input-div.focus > .i >i{
    color: blueviolet;
}
.input-div >div >input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'poppins', sans-serif;
}
.input-div.pass{
    margin-bottom: 4px;
}
a{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
}
a:hover{
    color: rgb(16, 231, 203);
}
.btn{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #680197, #00ffbf, #c046f8);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}
.btn:hover{
    background-position: right;
}
/*responsive para tablets y celulares*/
/*tablets*/
@media screen and (max-width:1050px){
    .contenedor{
        grid-gap: 5rem;
    }
}
/*tablet mas pequeña*/
@media screen and (max-width: 1000px){
    form{
        width: 290px;
    }
    .contenido-login h2{
        font-size: 2.4rem;
        margin: 8px 0;
    }
    .img img{
        width: 400px;
    }
}

/*celulares*/
@media screen and (max-width: 900px){
    .contenedor{
        grid-template-columns: 1fr;
    }
    .img{
        display: none;
    }
    .wave{
        display: none;
    }
    .contenido-login{
        justify-content: center;
    }
}

/* Contacto */
#contacto{
    top: -190px;
}
.form {
    width: 340px;
    height: 440px;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #1C293A;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative
}

.form h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #1C293A;
    border-bottom: 3px solid #1C293A
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #1C293A
}

p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a
}

.button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #1C293A;
    background: 0;
    color: #1C293A;
    cursor: pointer;
    transition: all .3s
}

div.abajo {
    content: 'Hi';
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: #1C293A;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #1C293A
}

span {
    margin: 0 5px 0 15px
}

.contenedor-foo h4 {
    color: #000000;
    border-bottom: 3px solid #121416;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.contenedor-foo p {
    color: #000000;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #070707;
}

